<h1>Yummy Profile</h1>
<div class="container">
  <div class="profile-card">
    <div class="profile-pic">
      <img src="assets/pfp.jpg" alt="" />
    </div>
    <div class="profile-info">
      <h2>User firstName</h2>
      <h2>User lastName</h2>
      <h3>User emailAddress</h3>
      <div class="action-buttons">
        <button (click)="showEdit()" class="btn btn-primary">
          Edit Profile
        </button>
        <button (click)="showSumbitRecipe()" class="btn btn-secondary">
          Sumbit a recipe
        </button>
        <button class="btn btn-success" routerLink="/">View my recipes</button>
      </div>
    </div>
  </div>
  <form *ngIf="editProfile" [formGroup]="form" autocomplete="on">
    <div class="form-floating">
      <input
        formControlName="firstName"
        type="text"
        class="form-control"
        id="fname"
        placeholder="First name"
      />
      <label for="floatingInput">First Name</label>
    </div>

    <div class="form-floating">
      <input
        formControlName="lastName"
        type="text"
        class="form-control"
        id="lname"
        placeholder="Last name"
      />
      <label for="lastName">Last Name</label>
    </div>

    <div class="form-floating">
      <input
        formControlName="email"
        type="email"
        class="form-control"
        id="floatingInput"
        placeholder="name@example.com"
      />
      <label for="email">Email address</label>
    </div>

    <button
      (click)="submit()"
      class="w-100 btn btn-lg btn-primary"
      type="submit"
    >
      Save changes
    </button>
  </form>
  <form *ngIf="showSubmitRecipe" action="">
    <div class="input-boxes">
      <div class="input-box">
        <i class="fas fa-envelope"></i>
        <span class="details">Recipe Name</span>
        <input
          type="text"
          required
          text
          minlength="3"
          class="form-control"
          ngModel
          name="name"
          #nameInput="ngModel"
          id="exampleInputname1"
          aria-describedby="nameHelp"
          placeholder="Enter recipe name"
        />
        <div
          *ngIf="nameInput.invalid && nameInput.dirty"
          class="alert alert-danger"
        >
          Recipe's name must be 3 characters minimum
        </div>
      </div>
      <div class="input-box">
        <i class="fas fa-envelope"></i>
        <span class="details">Recipe Category</span>
        <select
          class="form-control"
          ngModel
          name="category"
          #categoryInput="ngModel"
          id="categoryInputname1"
          aria-placeholder="Select a Catergory"
        >
          <option value="Breakfast">Breakfast</option>
          <option value="Lunch">Lunch</option>
          <option value="Dinner">Dinner</option>
          <option value="Fast Food">Fast Food</option>
          <option value="Snack">Snack</option>
          <option value="Pastry">Pastry</option>
        </select>
      </div>
      <div class="input-box">
        <i class="fas fa-envelope"></i>
        <span class="details">Recipe Description</span>
        <textarea
          class="form-control"
          ngModel
          name="Description"
          minlength="50"
          #descriptionInput="ngModel"
          id="descriptionInputname1"
          placeholder="Type your recipe's description"
          class="textarea form-control"
          name="description"
          id="form-description"
          rows="7"
          cols="20"
          required=""
        ></textarea>
        <div
          *ngIf="descriptionInput.invalid && descriptionInput.dirty"
          class="alert alert-danger"
        >
          Enter a valid name address
        </div>
      </div>
      <span class="details">Upload Image</span>
      <div class="file-container" *ngIf="!file">
        <input type="file" (change)="getFile($event)" class="file" />
      </div>
      <div *ngIf="file">
        File:name : {{ file.name }} <br />
        <button (click)="file = undefined" class="btn btn-primary">
          Clear File
        </button>
      </div>
      <br />
      <button (click)="uploadFile()" class="btn btn-primary">
        Upload image
      </button>
      <div class="input-box">
        <i class="fas fa-envelope"></i>
        <span class="details">Ingredients</span>
        <input
          type="text"
          required
          text
          minlength="3"
          class="form-control"
          ngModel
          name="ingerdient"
          #ingerdientInput="ngModel"
          id="exampleInputingerdient1"
          aria-describedby="ingerdientHelp"
          placeholder="Enter an ingerdient"
        />
        <div
          *ngIf="nameInput.invalid && nameInput.dirty"
          class="alert alert-danger"
        >
          Ingerdient's name must be 3 characters minimum
        </div>
      </div>
      <div class="input-box">
        <i class="fas fa-envelope"></i>
        <span class="details">Cook Time 🕑</span>
        <input
          type="text"
          required
          number
          minlength="1"
          class="form-control"
          ngModel
          name="time"
          #timeInput="ngModel"
          id="exampleInputtime1"
          aria-describedby="timeHelp"
          placeholder="Enter an time"
        />
        <div
          *ngIf="timeInput.invalid && timeInput.dirty"
          class="alert alert-danger"
        >
          Cook Time can only be a number
        </div>
      </div>
    </div>
    <button (click)="submitRecipe()" class="btn btn-danger">
      SUBMIT RECIPE
    </button>
  </form>
</div>
